## 1. Prepare the data

In [1]:
import pandas as pd

df = pd.read_csv("customer_data_large.csv")


print(df.head())  
print(df.info())
print(df.isnull().sum())
print(df.describe())

   Education  Kidhome  Recency  MntWines  MntFruits  MntSweetProducts  \
0          3        0       58       635         88                88
1          3        1       38        11          1                 1
2          3        0       26       426         49                21
3          3        1       26        11          4                 3
4          5        1       94       173         43                27

   MntGoldProds  NumWebPurchases  NumStorePurchases  NumWebVisitsMonth  Age  \
0            88                8                  4                  7   65
1             6                1                  2                  5   63
2            42                8                 10                  4   57
3             5                7                  4                  6   38
4            15                5                  6                  5   41

   Years_customer  Num_AcceptedCmp  MntFishMeatProdcts
0              10                1                 718
1               8                0                   8
2               9                0                 238
3               8                0                  30
4               8                0                 164
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Education           2230 non-null   int64
 1   Kidhome             2230 non-null   int64
 2   Recency             2230 non-null   int64
 3   MntWines            2230 non-null   int64
 4   MntFruits           2230 non-null   int64
 5   MntSweetProducts    2230 non-null   int64
 6   MntGoldProds        2230 non-null   int64
 7   NumWebPurchases     2230 non-null   int64
 8   NumStorePurchases   2230 non-null   int64
 9   NumWebVisitsMonth   2230 non-null   int64
 10  Age                 2230 non-null   int64
 11  Years_customer      2230 non-null   int64
 12  Num_AcceptedCmp     2230 non-null   int64
 13  MntFishMeatProdcts  2230 non-null   int64
dtypes: int64(14)
memory usage: 244.0 KB
None
Education             0
Kidhome               0
Recency               0
MntWines              0
MntFruits             0
MntSweetProducts      0
MntGoldProds          0
NumWebPurchases       0
NumStorePurchases     0
NumWebVisitsMonth     0
Age                   0
Years_customer        0
Num_AcceptedCmp       0
MntFishMeatProdcts    0
dtype: int64
         Education      Kidhome      Recency     MntWines    MntFruits  \
count  2230.000000  2230.000000  2230.000000  2230.000000  2230.000000
mean      3.458744     0.444395    49.167713   304.093722    26.269058
std       1.003293     0.538598    28.955724   336.930422    39.721905
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%       3.000000     0.000000    24.000000    24.000000     1.000000
50%       3.000000     0.000000    50.000000   173.000000     8.000000
75%       4.000000     1.000000    74.000000   504.750000    33.000000
max       5.000000     2.000000    99.000000  1493.000000   199.000000

       MntSweetProducts  MntGoldProds  NumWebPurchases  NumStorePurchases  \
count       2230.000000   2230.000000      2230.000000        2230.000000
mean          27.114350     43.849776         4.847534           5.795964
std           41.335228     51.895444         3.067080           3.254714
min            0.000000      0.000000         0.000000           0.000000
25%            1.000000      9.000000         3.000000           3.000000
50%            8.000000     24.000000         4.000000           5.000000
75%           33.000000     56.000000         7.000000           8.000000
max          263.000000    362.000000        32.000000          13.000000

       NumWebVisitsMonth          Age  Years_customer  Num_AcceptedCmp  \
count        2230.000000  2230.000000     2230.000000      2230.000000
mean            7.106726    50.940359        8.972197         0.445740
std             4.069197    10.877867        0.683811         0.889835
min             0.000000    26.000000        8.000000         0.000000
25%             4.000000    43.000000        9.000000         0.000000
50%             7.000000    49.000000        9.000000         0.000000
75%             8.000000    59.000000        9.000000         1.000000
max            20.000000    81.000000       10.000000         5.000000

       MntFishMeatProdcts
count          2230.00000
mean            204.52287
std             260.66920
min               1.00000
25%              21.00000
50%              80.00000
75%             306.75000
max            1727.00000